<footer class="footer">

  <div class="column">
    <h3>Site Links</h3>

    <a routerLink="/games">Games</a>
    <a routerLink="/genres">Genres</a>
    <a routerLink="/publishers">Publishers</a>
    <a routerLink="/orders">Orders</a>
    <a routerLink="/basket">My Bucket</a>
  </div>

  <div class="column">
    <h3>Company Information</h3>

    <a>About</a>
    <a>Awards</a>
    <a>Reviews</a>
    <a>Testimonials</a>
    <a>Contact</a>
  </div>

  <div class="column">
    <h3>Social Media</h3>

    <div class="socials">
      <span>X</span>
      <span>F</span>
      <span>IG</span>
    </div>
  </div>

</footer>