<div class="comment-card">
  <h4>{{ comment().name }}</h4>

  <p>{{ comment().body }}</p>

  <app-rating [value]="comment().rating ?? 0"> </app-rating>

  <button (click)="like()">👍 {{ comment().likes ?? 0 }}</button>

  @if (comment().childComments.length > 0) {
    <div class="child-comments">
      @for (childComment of comment().childComments; track childComment.id) {
        <div class="child-comment">
          <h5>{{ childComment.name }}</h5>

          <p>{{ childComment.body }}</p>

          <app-rating [value]="childComment.rating"> </app-rating>

          <button (click)="likeChildComment(childComment)">👍 {{ childComment.likes }}</button>
        </div>
      }
    </div>
  }
</div>
